
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits       {:git/url "https://github.com/bithandshake/cljc-fruits"
                                         :sha     "0e80e8fa4385081b97b7cd6606d2e00b46392b44"}
         bithandshake/cljc-io           {:git/url "https://github.com/bithandshake/cljc-io"
                                         :sha     "aca463b888cbddecd75e0f80cc346163d70f2d13"}
         bithandshake/cljc-validator    {:git/url "https://github.com/bithandshake/cljc-validator"
                                         :sha     "1243abdbf0368b92e74435182ca343d253b365ac"}
         mt-devtools/cljc-syntax-reader {:git/url "https://github.com/bithandshake/cljc-io"
                                         :sha     "b33f4cf5a5e985ec7fd35ecad9ed03490b0b0af0"}
         org.clojure/clojure            {:mvn/version "1.10.1"}}}
