
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits       {:git/url "https://github.com/bithandshake/cljc-fruits"
                                         :sha     "98556ab6d91e988ffdfbf15164f36387ad2cc95c"}
         bithandshake/cljc-io           {:git/url "https://github.com/bithandshake/cljc-io"
                                         :sha     "3759fa5e2aaf215caf87d86a341f11845449849f"}
         bithandshake/cljc-validator    {:git/url "https://github.com/bithandshake/cljc-validator"
                                         :sha     "df35e91cee8a7e5f5914d69089c0ed7cc1f97930"}
         mt-devtools/cljc-syntax-reader {:git/url "https://github.com/bithandshake/cljc-io"
                                         :sha     "e625fa78a9c8a7d72875bd311e57b03dd68ea79a"}
         org.clojure/clojure            {:mvn/version "1.10.1"}}}
