
{:paths ["source-code/clj"]
 :deps  {mt-devtools/cljc-syntax-reader {:git/url "https://github.com/mt-devtools/cljc-syntax-reader"
                                         :sha     "ace7a6e9d2b8a44a8ed6ed75fe7def0615777b8e"}
         bithandshake/cljc-fruits       {:git/url "https://github.com/bithandshake/cljc-fruits"
                                         :sha     "6b5c9c060bdff84d0cd0bce908b64b268e5e6f0e"}
         mt-utilities/cljc-io           {:git/url "https://github.com/mt-utilities/cljc-io"
                                         :sha     "2c33b339c258eb567e66c722980317726a51fa03"}
         mt-utilities/cljc-validator    {:git/url "https://github.com/mt-utilities/cljc-validator"
                                         :sha     "e48e0664b37960a78296acf738f3cde1f3b111f5"}
         org.clojure/clojure            {:mvn/version "1.10.1"}}}
